:root {
  --text: #222a25;
  --text-light: #404f43;
  --text-muted: #79867d;
  --text-faint: rgba(255, 255, 255, 0.7);
  --text-ghost: rgba(255, 255, 255, 0.5);
  --text-accent-muted: rgba(189, 68, 38, 0.2);
  --category-badge-text: rgba(255, 255, 255, 0.9);

  --bg: #fbfaf9;
  --bg-bnw: #fff;
  --bg-secondary: rgba(240, 242, 237, 0.5);
  --light-overlay: rgba(255, 255, 255, 0.1);
  --bg-white-faint: rgba(255, 255, 255, 0.9);
  --accent-bg: rgba(189, 68, 38, 0.1);
  --muted-bg: rgba(64, 79, 67, 0.1);

  --border: #e8e6e3;
  --border-faint: rgba(189, 68, 38, 0.2);
  --hover-border: #aaa9a8;

  --accent: #bd4426;
  --hover-btn: #9b371e;

  --shadow: rgba(12, 15, 13, 0.05) 0 1px 2px 0;
  --shadow-hover:
    rgba(64, 79, 67, 0.1) 0 10px 15px -3px,
    rgba(64, 79, 67, 0.05) 0 4px 6px -2px;

  --font-main: "Poppins", system-ui, sans-serif;
  --font-heading: "Cormorant Unicase", system-ui, serif;
  --font-logo: "Inter", system-ui, sans-serif;

  --header-height: 64px;

  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.45;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  /* Текст */
  --text: #e5e5e5;
  --text-light: #cfcfcf;
  --text-muted: #79867d;
  --text-faint: rgba(255, 255, 255, 0.7);
  --text-ghost: rgba(255, 255, 255, 0.5);
  --text-accent-muted: rgba(189, 68, 38, 0.25);
  --category-badge-text: rgba(255, 255, 255, 0.9);

  /* Фони */
  --bg: #16171d;
  --bg-bnw: #252525;
  --bg-secondary: #1f202a;
  --light-overlay: rgba(255, 255, 255, 0.1);
  --bg-white-faint: rgba(0, 0, 0, 0.5);
  --accent-bg: rgba(189, 68, 38, 0.1);
  --muted-bg: rgba(64, 79, 67, 0.1);

  /* Бордери */
  --border: #2c2e36;
  --border-faint: rgba(255, 255, 255, 0.1);
  --hover-border: #444653;

  /* Акценти */
  --accent: #bd4426;
  --hover-btn: #9b371e;

  /* Тіні */
  --shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  --shadow-hover:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}
