:root {
  --text: #222a25;
  --text-light: #404f43;
  --text-muted: #79867d;
  --text-faint: rgba(255, 255, 255, 0.7);
  --text-ghost: rgba(255, 255, 255, 0.5);
  --text-accent-muted: rgba(229, 93, 62, 0.2);

  --bg: #fbfaf9;
  --bg-secondary: rgba(240, 242, 237, 0.5);
  --light-overlay: rgba(255, 255, 255, 0.1);
  --bg-white-faint: rgba(255, 255, 255, 0.9);
  --accent-bg: rgba(229, 93, 62, 0.1);
  --muted-bg: rgba(64, 79, 67, 0.1);

  --border: #e8e6e3;
  --border-faint: rgba(229, 93, 62, 0.2);
  --hover-border: #aaa9a8;
  --accent: #e55d3e;

  --shadow: rgba(64, 79, 67, 0.05) 0 1px 2px 0;
  --shadow-hover:
    rgba(64, 79, 67, 0.1) 0 10px 15px -3px,
    rgba(64, 79, 67, 0.05) 0 4px 6px -2px;

  --font-main: "Poppins", system-ui, sans-serif;
  --font-heading: "Cormorant Unicase", system-ui, serif;

  --header-height: 64px;

  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.45;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-light: #f3f4f6;
    --text-muted: #79867d;
    --text-faint: rgba(255, 255, 255, 0.7);
    --text-ghost: rgba(255, 255, 255, 0.5);
    --text-accent-muted: rgba(229, 93, 62, 0.2);

    --bg: #16171d;
    --bg-secondary: rgba(240, 242, 237, 0.5);
    --light-overlay: rgba(255, 255, 255, 0.1);
    --bg-white-faint: rgba(255, 255, 255, 0.9);
    --accent-bg: rgba(229, 93, 62, 0.1);
    --muted-bg: rgba(64, 79, 67, 0.1);

    --border: #2e303a;
    --border-faint: rgba(229, 93, 62, 0.2);
    --hover-border: #aaa9a8;
    --accent: #e55d3e;

    --shadow: rgba(64, 79, 67, 0.05) 0 1px 2px 0;
    --shadow-hover:
      rgba(64, 79, 67, 0.1) 0 10px 15px -3px,
      rgba(64, 79, 67, 0.05) 0 4px 6px -2px;
  }
}
