@import "./styles/fonts.css";
@import "./styles/_vars.css";

#root {
  padding: 0;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  color: var(--text);
  font-weight: 700;
  line-height: 1;
}

h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

section {
  scroll-margin-top: var(--header-height);
  padding-block: 40px;

  @media screen and (min-width: 768px) {
    padding-block: 60px;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-light);
}
