@import "./styles/fonts.css";

:root {
  --text: #222a25;
  --text-light: #404f43;
  --text-muted: #79867d;
  --text-faint: rgba(255, 255, 255, 0.7);
  --text-ghost: rgba(255, 255, 255, 0.5);
  --text-accent-muted: rgba(229, 93, 62, 0.2);

  --bg: #fbfaf9;
  --bg-secondary: rgba(240, 242, 237, 0.5);
  --light-overlay: rgba(255, 255, 255, 0.1);
  --bg-white-faint: rgba(255, 255, 255, 0.9);
  --accent-bg: rgba(229, 93, 62, 0.1);
  --muted-bg: rgba(64, 79, 67, 0.1);

  --border: #e8e6e3;
  --border-faint: rgba(229, 93, 62, 0.2);
  --hover-border: #aaa9a8;
  --accent: #e55d3e;

  --shadow: rgba(64, 79, 67, 0.05) 0 1px 2px 0;
  --shadow-hover:
    rgba(64, 79, 67, 0.1) 0 10px 15px -3px,
    rgba(64, 79, 67, 0.05) 0 4px 6px -2px;

  --font-main: "Poppins", system-ui, sans-serif;
  --font-heading: "Cormorant Unicase", system-ui, serif;

  --header-height-for-scroll: 64px;

  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.45;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-light: #f3f4f6;
    --text-muted: #79867d;
    --text-faint: rgba(255, 255, 255, 0.7);
    --text-ghost: rgba(255, 255, 255, 0.5);
    --text-accent-muted: rgba(229, 93, 62, 0.2);

    --bg: #16171d;
    --bg-secondary: rgba(240, 242, 237, 0.5);
    --light-overlay: rgba(255, 255, 255, 0.1);
    --bg-white-faint: rgba(255, 255, 255, 0.9);
    --accent-bg: rgba(229, 93, 62, 0.1);
    --muted-bg: rgba(64, 79, 67, 0.1);

    --border: #2e303a;
    --border-faint: rgba(229, 93, 62, 0.2);
    --hover-border: #aaa9a8;
    --accent: #e55d3e;

    --shadow: rgba(64, 79, 67, 0.05) 0 1px 2px 0;
    --shadow-hover:
      rgba(64, 79, 67, 0.1) 0 10px 15px -3px,
      rgba(64, 79, 67, 0.05) 0 4px 6px -2px;
  }
}

#root {
  padding: 0;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  color: var(--text);
  font-weight: 700;
  line-height: 1;
}

h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 14px;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

section {
  scroll-margin-top: var(--header-height-for-scroll);
  padding-block: 40px;

  @media screen and (min-width: 768px) {
    padding-block: 60px;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-light);
}
