:root {
  --text: #222a25;
  --text-light: #404f43;
  --muted-text: #79867d;
  --bg: #fbfaf9;
  --bg-secondary: rgba(240, 242, 237, 0.5);
  --border: #e8e6e3;
  --hover-border: #aaa9a8;
  --accent: #e55d3e;
  --accent-bg: rgba(229, 93, 62, 0.1);
  --muted-bg: rgba(64, 79, 67, 0.1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-main: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--font-main);
  font-size: 14px;
  line-height: 1.45;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* @media (max-width: 1024px) {
    font-size: 16px;
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

#root {
  /* width: 1126px; */
  /* max-width: 100%; */
  padding: 0;
  margin: 0 auto;
  /* text-align: center; */
  /* border-inline: 1px solid var(--border); */
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

main {
  flex: 1;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: 48px;
  line-height: 1;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 30px;
  line-height: 1.2;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  /* color: ${props => props.theme.colors.accentPrimary};
  transition: color ${props => props.theme.transition}; */
}
a:hover,
a:focus-visible {
  /* color: ${props => props.theme.colors.accentSecondary}; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* section {
  padding-block: 40px;

  @media screen and (min-width: ${theme.breakpoints.md}) {
    padding-block: 60px;
  }
} */

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-light);
}
